body{
    font-family: "Urbanist", sans-serif;;
    font-weight: bold;
    color:#000;
    font-size: medium;
    background-color: white;
    justify-content: center;
    margin: 0px;
    z-index: 1;
}

.topnav{
    display:flex;
    height: 10%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: 3;
}

.logo{
    width: 16%;
    height: auto;
    margin-left: 10%;
}

.centerfc{
    display:flex;
    height:100%;
    width: 68%;
    justify-content: center;
    align-items: center;
}

.celleintestazione{
    border-radius: 20px;
    padding: 12px;
    margin:1%;
}

.rightfc{
    display:flex;
    height:100%;
    width: 16%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.black{
    background-color:black;
    color: white;
    border-radius: 20px;
    padding: 12px;
}

.welcome{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 380%;
    padding-top: 6%;
    align-items: flex-end;
    letter-spacing: -2px;
}

.tiporicerca{
    display: flex;
    justify-content: center;
    height: 40px;
}

.cellericerca{
    display:flex;
    font-weight: 600;
    font-size: 120%;
    height: 100%;
    justify-content: center;
    align-items: center;
    white-space:nowrap;
    margin:0px 11px;
}

.iconeheader{
    height: 65%;
    margin-right: 1%;
}

.barraricerca img{
    height: 100%;
    margin: 12px;
}

.barraricerca{
    display: flex;
    margin:2% 15%;
    height: 40px;
    border: 2px solid lightgray;
    box-shadow: 0px 2px 4px lightgray;
    border-radius: 40px;
    align-items: center;
    font-weight: 500;
    color: gray;
    padding: 6px;
}

.ricerca{
    display: flex;
    background-color:#34E0A1;
    justify-content: flex-end;
    align-items: center;
    color: black;
    height:100%;
    padding: 0% 2% ;
    font-weight: bold;
    border-radius: 25px;
}

.rc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;;
    width: 100%;
    
}
.fsection{
    display: flex;
    background-color: #00AF87;
    height: 480px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding:13px;
    overflow: hidden;
    margin:5% 10%;
    box-shadow: inset 0px -200px 50px  rgba(0, 0, 0, 0.3);
}

.fsection img{
    height: 100%;
    width: auto;
    margin: 1%;
    border-radius: 10px;
}

.sectiondesc{
    position: absolute;
    left:12%;
    top: 111%;
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 40px black;
}

.subsectiondesc{
    position: absolute;
    left:12%;
    top: 120%;
    font-weight: 600;
    font-size: 21px;
    color: white;
    text-shadow: 0px 0px 40px black;
}

.sectionbutton{
    position:absolute;
    top:130%;
    left:12%;
    background-color: white;
    padding: 14px;
    border-radius: 20px;
    color:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 40px black;
}

.bannerapp{
    display: flex;
    height: 160px;
    background-color: #daefed;
    border-radius: 10px;
    align-items: center;
    padding: 1.5%;
    margin: 2% 10%;
}

.intbanner{
    font-size: 150%;
    font-weight: 600;
    margin: 3% 0% 0% 0%;
}

.subintbanner{
    font-size: 120%;
    font-weight: 400;
    padding: 0px;
    margin: 0%;
}

.subtitoloannunci{
    margin: 0% 10%;
}

.bannerapp img{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    rotate: -5deg;
    margin-right:20px;
}

.bannerbutton{
    background-color: white;
    border:1px solid black;
    border-radius: 20px;
    padding:13px;
    white-space:nowrap
}

.fullbanner{
    display: flex;
    width:100%;
    height:100%;
}

.buttoncontainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.titoloannunci{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:6%;
    margin: 0% 10%;
}
 
.link{
    color:rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    white-space: nowrap;
}

.bannercontent{
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-direction: column;
}

.bannerannunci{
    display: flex;
    justify-content: space-between;
    margin: 2% 10%;
}

.cornice{
    display: flex;
    padding: 0px;
    width: 100%;
}

.cornice img{
width: 100%;
height: 100%;
border-radius: 10px;
}

.annuncio{
    display: flex;
    flex-direction: column;
    width:19%;
    height: 30%;
}

.meta{
    display: flex;
    font-weight: 700;
    font-size: 110%;
    color: black;
    margin:0px;
    justify-content: flex-start;
    padding-top: 2%;
    
}

.annuncio2{
    display: flex;
    position: relative;
    flex-direction: column;
    width:24%;
    height: 30%;
}

.cuore{
    position: absolute;
    top: 8px;
    left:80%;
    width: 7%;
    background-color: white;
    padding: 6%;
    border-radius: 22px;
}

.cuore2{
    position: absolute;
    top: 8px;
    left:80%;
    width: 7%;
    background-color: white;
    padding: 6%;
    border-radius: 22px;
}

.submeta{
    display: flex;
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin:0px;
    justify-content: flex-start;
    margin:3% 0%;
}

.bannerpref{
    display: flex;
    height: 160px;
    background-color: #e8cdd8;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    margin:3% 10%;
}

.bannerpref img{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    rotate: -5deg;
    margin-right:20px;
}

.fullhtmlcontent{
    display: flex;
    flex-direction: column;
    margin:0% 10%;
}

.fullhtml{
    display: flex;
    background-color:#e8cdd8; 
    padding: 2% 0%;
    flex-direction: column;
    margin: 5% 0%;
    justify-content: space-around;
}

.annuncio3{
    display: flex;
    flex-direction: column;
    width: 32%;
    }
    
    .fullhtml2{
        display: flex;
        padding: 0% 10%;
        height:500px;
        background-color:#f5f7a9;
        justify-content: space-between;
        align-items: center;
        margin:7% 0%;   
        overflow: hidden;     
    }

    .fullhtml2p{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        padding:3% 0%;
        height: 100%;
    }

    .fullhtml2content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .promo{
        margin: 0px;
        font-weight: 900;
        font-size: 50px;
        letter-spacing: -2px;
    }

    .subpromo{
        margin: 10px 0px;
        font-weight: 500;
        font-size: 23px;
    }

    .bgend{
        display: flex;
        width:60%;
        background: contain;
        overflow: hidden;
        border-radius: 300px;
    }

    footer{
        flex-direction: column;
        background-color: #e8cdd8;
        padding: 2% 0%;
    }

    .first{
        font-size: 16px;
        font-weight: 500;
    }

    .others{
        font-size: 14px;
        font-weight: 500;
    }

    .footcontainer{
        display: flex;
        margin: 1% 10%;
        justify-content: space-between;
    }

    .fc2{
        display: flex;
        margin: 0% 10%;
    }

    .others2{
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
    }

    .fc2 img{
        height: 40px;
    }

    .hflex{
        margin: 0%;
        font-size: 12px;
        font-weight: 400;
        padding:0px;
    }

    .linkfccontainer{
        display: flex;
        width: 70%;
        margin-top: 0%;
        margin-left: 1%;
        flex-direction: column;
    }

    .linkfc{
        display: flex;
        justify-content: space-between;
    }

    .logocontainer{
        display: flex;
        height:100%;
        justify-content: flex-end;
        align-items: center;
    }

    .logocontainer img{
        width: auto;
        height: 25px;
        margin:4%
    }

    .finalfc{
        display: flex;
        height:50px;
        margin:0% 10%;
        justify-content: space-between;
    }

    .final{
        display: flex;
        width:70%;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
    }

    @media (max-width: 480px) {
        body,.celleintestazione,.black,.cellericerca,meta,.others2,.final,.submeta,.hflex,.others,.first{
            font-size:0.7em;
        }
        
        .promo{
            font-size: 4em;
        }

        .subpromo{
            font-size: 1em;
        }

        .bannercontent{
            width:50%;
        }

        .fullhtml{
            padding: 5% 5%;
        }

        .linkfc{
            margin:3%;
        }

        .sectiondesc{
            font-size: 2em;
        }

        .subsectiondesc{
            position: absolute;
            top:122%;
            font-size: 1em;
        }

        .sectionbutton{
            position: absolute;
            top:128%;
            box-shadow: none;
        }

        .bgend{
            width:48%;
        }

        .intbanner{
            font-size: 1.5em;
        }

        .subintbanner{
            display: none;
        }
    }